.form-button-wrapper {
    display: flex;
    justify-content: center;
}

.form-button {
    background-color: #cea135;
    color: #11122b;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #cea135;
    border-radius: 2px;
    outline: none;
    transition: all 0.5s;

}

.form-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 12px 12px 14px -4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 12px 12px 14px -4px rgba(34, 60, 80, 0.2);
    box-shadow: 12px 12px 14px -4px rgba(34, 60, 80, 0.2);
}

.form-button:active {
    -webkit-box-shadow: 0px 0px 25px 3px rgba(34, 60, 80, 0.12) inset;
    -moz-box-shadow: 0px 0px 25px 3px rgba(34, 60, 80, 0.12) inset;
    box-shadow: 0px 0px 25px 3px rgba(34, 60, 80, 0.12) inset;
}